@include utility-map(
  (
    justify-content: (
      property: justify-content,
      values: (
        center: center,
        start: flex-start,
        end: flex-end,
        between: space-between,
      ),
    ),
    align-items: (
      property: align-items,
      values: (
        center: center,
        start: flex-start,
        end: flex-end,
      ),
    ),
    direction: (
      property: flex-direction,
      values: row column row-reverse,
    ),
  )
);
